@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(75 85 99);
}

.h1 {
  @apply text-2xl font-bold py-2 my-8;
}

.h2 {
  @apply text-xl font-semibold my-8 py-2 border-b border-dashed border-gray-700;
}

.slick-prev {
  top: 45% !important;
  left: 0 !important;
  z-index: 50;
}

.slick-next {
  top: 45% !important;
  right: 3px !important;
  z-index: 50;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
  color: #19682f !important;
}
